@font-face {
 font-family: 'Hind-SemiBold';
 src: url('../fonts/Hind-SemiBold.ttf')
}

@font-face {
 font-family: 'Inconsolata-Bold';
 src: url('../fonts/Inconsolata-Bold.ttf')
}

@font-face {
 font-family: 'FiraSans-Regular';
 src: url('../fonts/FiraSans-Regular.ttf')
}

@font-face {
 font-family: 'FiraSans-Bold';
 src: url('../fonts/FiraSans-Bold.ttf')
}
//
//@font-face {
//  font-family: 'CirceRounded Regular';
//  src: url('../fonts/CirceRounded-Regular.otf')
//}
//
//@font-face {
//  font-family: 'CirceRounded Light';
//  src: url('../fonts/CirceRounded-ExtraLight.otf')
//}
